<div class="swalk-menu">
	<div class="page-sidebar">
		<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li ng-class="{'active': ctrl.menu+ctrl.submenu=='houselist'||ctrl.menu+ctrl.submenu=='productlist'|| ctrl.menu+ctrl.submenu == 'houseinfo' || ctrl.menu+ctrl.submenu=='orderlist'}">
				<a href="javascript:;" ui-sref="user({menu: 'house',submenu: 'list'})">
					<i class="iconfont">&#xe628;</i>
					<span class="title">酒店管理</span>
					<span class="glyphicon glyphicon-menu-down" ng-show="ctrl.menu+ctrl.submenu=='houselist'||ctrl.menu+ctrl.submenu=='productlist'|| ctrl.menu+ctrl.submenu == 'houseinfo' ||ctrl.menu+ctrl.submenu=='orderlist'"></span>
					<span class="glyphicon glyphicon-menu-right" ng-hide="ctrl.menu+ctrl.submenu=='houselist'||ctrl.menu+ctrl.submenu=='productlist'|| ctrl.menu+ctrl.submenu == 'houseinfo' ||ctrl.menu+ctrl.submenu=='orderlist'"></span>
				</a>
				<ul class="sub-menu" ng-if="ctrl.menu+ctrl.submenu=='houselist'||ctrl.menu+ctrl.submenu=='productlist'|| ctrl.menu+ctrl.submenu == 'houseinfo' ||ctrl.menu+ctrl.submenu=='orderlist'">
					<li>
						<a ui-sref="user({menu: 'house',submenu: 'list'})">房源维护</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'product',submenu: 'list'})">房型发布</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'order',submenu: 'list'})">订单管理</a>
					</li>
				</ul>
			</li>
			<li ng-class="{'active': ctrl.menu+ctrl.submenu=='providerTravellist'||ctrl.menu+ctrl.submenu=='productTravellist' || ctrl.menu+ctrl.submenu == 'productTravelinfo' || ctrl.menu+ctrl.submenu == 'orderTravellist'}">
				<a href="javascript: void (0);" ui-sref="user({menu: 'providerTravel',submenu: 'list'})">
					<i class="iconfont">&#xe704;</i>
					<span class="title">度假管理</span>
					<span class="glyphicon glyphicon-menu-down" ng-show="ctrl.menu+ctrl.submenu=='providerTravellist'||ctrl.menu+ctrl.submenu=='productTravellist' || ctrl.menu+ctrl.submenu == 'productTravelinfo' || ctrl.menu+ctrl.submenu == 'orderTravellist'"></span>
					<span class="glyphicon glyphicon-menu-right" ng-hide="ctrl.menu+ctrl.submenu=='providerTravellist'||ctrl.menu+ctrl.submenu=='productTravellist' || ctrl.menu+ctrl.submenu == 'productTravelinfo' || ctrl.menu+ctrl.submenu == 'orderTravellist'"></span>
				</a>
				<ul class="sub-menu" ng-if="ctrl.menu+ctrl.submenu=='providerTravellist'||ctrl.menu+ctrl.submenu=='productTravellist' || ctrl.menu+ctrl.submenu == 'productTravelinfo' || ctrl.menu+ctrl.submenu == 'orderTravellist'">

					<li>
						<a ui-sref="user({menu: 'providerTravel',submenu: 'list'})">商户管理</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'productTravel',submenu: 'list'})">产品发布</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'orderTravel',submenu: 'list'})">订单管理</a>
					</li>
				</ul>
			</li>
			<li ng-class="{'active': ctrl.menu+ctrl.submenu=='assetInfolist'||ctrl.menu+ctrl.submenu=='assetIncomelist'||ctrl.menu+ctrl.submenu=='butlerServicelist'||ctrl.menu+ctrl.submenu=='repairlist'||ctrl.menu+ctrl.submenu=='noticelist' || ctrl.menu+ctrl.submenu=='appointmentlist'}">
				<a href="javascript:;" ui-sref="user({menu: 'assetInfo',submenu: 'list'})">
					<i class="iconfont">&#xe624;</i>
					<span class="title">业主维护</span>
					<span class="glyphicon glyphicon-menu-down" ng-show="ctrl.menu+ctrl.submenu=='assetInfolist'||ctrl.menu+ctrl.submenu=='assetIncomelist'||ctrl.menu+ctrl.submenu=='butlerServicelist'||ctrl.menu+ctrl.submenu=='repairlist'||ctrl.menu+ctrl.submenu=='noticelist' || ctrl.menu+ctrl.submenu=='appointmentlist'"></span>
					<span class="glyphicon glyphicon-menu-right" ng-hide="ctrl.menu+ctrl.submenu=='assetInfolist'||ctrl.menu+ctrl.submenu=='assetIncomelist'||ctrl.menu+ctrl.submenu=='butlerServicelist'||ctrl.menu+ctrl.submenu=='repairlist'||ctrl.menu+ctrl.submenu=='noticelist' || ctrl.menu+ctrl.submenu=='appointmentlist'"></span>
				</a>
				<ul class="sub-menu" ng-if="ctrl.menu+ctrl.submenu=='assetInfolist'||ctrl.menu+ctrl.submenu=='assetIncomelist'||ctrl.menu+ctrl.submenu=='butlerServicelist'||ctrl.menu+ctrl.submenu=='repairlist'||ctrl.menu+ctrl.submenu=='noticelist' || ctrl.menu+ctrl.submenu=='appointmentlist'">
					<li>
						<a ui-sref="user({menu: 'assetInfo',submenu: 'list'})">资产明细</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'assetIncome',submenu: 'list'})" >资产收益</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'butlerService',submenu: 'list'})" >管家服务</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'repair',submenu: 'list'})" >维修记录</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'notice',submenu: 'list'})" >业主公告</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'appointment',submenu: 'list'})" >业主预约</a>
					</li>
				</ul>
			</li>

			<li ng-show="merchId=='admin'" ng-class="{'active': ctrl.menu+ctrl.submenu=='categorylist' || ctrl.menu+ctrl.submenu=='citylist' || ctrl.menu+ctrl.submenu == 'indexBannerlist' || ctrl.menu+ctrl.submenu == 'servicelist' || ctrl.menu+ctrl.submenu == 'travelBannerlist'}" >
				<a ui-sref="user({menu: 'service',submenu: 'list'})">
					<i class="iconfont">&#xe613;</i>
					<span>数据维护</span>
					<span class="glyphicon glyphicon-menu-down" ng-show="ctrl.menu+ctrl.submenu=='categorylist' || ctrl.menu+ctrl.submenu=='citylist' || ctrl.menu+ctrl.submenu == 'indexBannerlist' || ctrl.menu+ctrl.submenu == 'servicelist' || ctrl.menu+ctrl.submenu == 'travelBannerlist'"></span>
					<span class="glyphicon glyphicon-menu-right" ng-hide="ctrl.menu+ctrl.submenu=='categorylist' || ctrl.menu+ctrl.submenu=='citylist' || ctrl.menu+ctrl.submenu == 'indexBannerlist' || ctrl.menu+ctrl.submenu == 'servicelist' || ctrl.menu+ctrl.submenu == 'travelBannerlist'"></span>
				</a>
				<ul ng-if="ctrl.menu+ctrl.submenu=='categorylist' || ctrl.menu+ctrl.submenu=='citylist' || ctrl.menu+ctrl.submenu == 'indexBannerlist' || ctrl.menu+ctrl.submenu == 'servicelist' || ctrl.menu+ctrl.submenu == 'travelBannerlist'">
					<li>
						<a ui-sref="user({menu: 'category',submenu: 'list'})">参数管理</a>
					</li>
                    <li>
                        <a ui-sref="user({menu: 'city',submenu: 'list'})">城市管理</a>
                    </li>
					<li>
						<a ui-sref="user({menu: 'service',submenu: 'list'})">服务管理</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'indexBanner',submenu: 'list'})">首页轮播管理</a>
					</li>
					<li>
						<a ui-sref="user({menu: 'travelBanner',submenu: 'list'})">二级页面管理</a>
					</li>
				</ul>
			</li>

			<li ng-class="{'active': ctrl.menu+ctrl.submenu=='settlementOrder'}" >
				<a ui-sref="user({menu: 'settlement',submenu: 'order'})">
					<i class="iconfont">&#xe624;</i>
					<span>订单结算</span>
				</a>
			</li>

		</ul>
	</div>
</div>