<ion-view title="产品列表">
    <div class="list-subheader">
        <ion-scroll scrollbar-x="false" direction="x" class="scroll-bar-h" style="height: 44px;border-bottom: 0.5px solid #dfdfdf">
            <div ng-repeat="sort in sortList"
                 class="list-header-item"
                 ng-class="{true:'item-active'}[sort.id==nowItem]"
                 ng-click="changeSortItem(sort)">
                {{sort.name}}
            </div>
        </ion-scroll>

    </div>
    <ion-content scrollbar-y="false" has-bouncing="false" class="content-left" style="overflow: auto;">
        <div class="list-content-item"
             ng-repeat="subitem in secondList"
             ng-class="{true:'second-item-active'}[secondItem==subitem.id]" ng-click="changeSecondItem(subitem)">
            <span>{{subitem.name}}</span>
        </div>
    </ion-content>
    <ion-content has-bouncing="false" class="content-right">
        <div class="list-pro-item">
            <img src="app/img/touming.jpg">
            <div class="list-pro-title">
                圆形一次性餐盒1000ML塑料透明圆碗外卖
            </div>
        </div>
        <div class="list-pro-item" ng-repeat="pro in proList">
            <div ng-click="toDetail()">
                <img src="app/img/TB2xcEoaHaI.eBjSspaXXXIKpXa_!!2653351646.jpg_430x430q90.jpg">
                <div class="list-pro-title">
                    {{pro.name}}
                </div>
                <div class="list-pro-price">
                    ￥{{pro.price}}
                </div>
            </div>

            <div class="icon ion-ios-cart icon-buy-addcar"></div>
        </div>
    </ion-content>

</ion-view>